.general-font{
    font-family: 'Lato', sans-serif;
    font-weight:700;
}
.main-container{
    width:99%;
    margin:auto;
    display:flex;
    flex-direction: row
}
.showborder{
    border:1px solid;
}
.general-font{
    font-size: 20px;
}
@media screen and (min-width:721px) {
    .main-container{
        display:grid;
        grid-template-rows: 17% 17% 16% 16% 17% 17%;
        grid-column-gap: 15px;
        grid-row-gap:15px
    }
    .general-font{
        font-size: 24px;
    }
}

@media screen and (min-width:1081px) {
    .large-container-1{
    grid-column-end: 5;
    }
    .large-container-2{
    grid-column-end: 7;  
    }
    .main-container{
        grid-template-rows: 9% 9% 8% 8% 8% 8% 8% 8% 8% 8% 9% 9%;
    }
    .general-font{
        font-size: 30px;
    }
}